src/main/mule/implementation/health-check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="health-checkFlow" doc:id="b7cdf7aa-74cf-4c84-a027-b0fcac1d863b" >
		<ee:transform doc:name="Transform Message" doc:id="dfbf2a39-fc2c-42f7-940c-28775b8a1958" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: "UP",
  message: "Uhub-SAPI is alive and kicking"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="96904968-c424-4b99-8a57-459222e0c3b6" message="#[payload]"/>
	</flow>
</mule>
